body {
    background-color: rgb(233,233,233);
    font-family: Arial, Helvetica, sans-serif;
    margin:0px;
}

header {
    color: red;
}

button{
    background-color: blue;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

footer{
    background-color: gray;
    color: white;
    text-align: center;
    padding: 5px;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 10px;
}


/* .header-title é uma classe de estilo. Ela pode ser aplicada em qualquer tag*/
.header-title {
    color:white;
    background-color: blue;
    font-size: 30px;
    padding-top: 15px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 25px;
/* estes paddings poderiam ser substituídos por:     padding: 15px 10px 20px 25px    (sentido horário)*/
}

.card {
    background-color: white;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left:50px;
    margin-right:50px;
    border-radius: 10px;
    box-shadow: 1px 2px rgba(163, 163, 163, 0.5); /*rdba tem a transparência*/
    border: 1px solid rgb(151, 151, 151);
    padding: 10px;
}

.card-title{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 20px;
}

.card-content{
    text-align: justify;    
    margin-bottom: 20px;
}

.card-form{
    width: 80%;
}

.form-input{
    width: 80%;
}

.form-group{
    margin-bottom: 10px;
}